/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

.hidden {
    display: none !important;
}

body {
    background-image: url(assets/burger-friends.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    font-family: 'Roboto', sans-serif;
}

.navBar {
    background-color: #0fb9b1;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    padding-left: 20px;
    padding-right: 20px;
}

#view-all-recipes-button {
    border-radius: 5px;
    border: none;
}

#section-1 {
    display: flex;
    justify-content: space-evenly;
}

#section-2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.whiteWindows {
    background-color: white;
    border-width: 0px;
    border-style: solid;
    opacity: .8;
    margin-left: -50px;
    padding-left: 35px;
    margin-top: 65px;
    height: 400px;
    width: 500px;
}

#lets-cook-button {
    background-color: #0fb9b1;
    border-radius: 5px;
    border: none;
    opacity: 1;
    height: 3vh;
    width: 10vw;
}

#clear-button {
    background-color: #95a5a6;
    border-radius: 5px;
    border: none;
    opacity: 1;
    height: 3vh;
    width: 5vw;
}

.pot {
    height: 20vh;
    width: 25vw;
    margin-top: 62px;
}

.menuItemOutput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    margin-bottom: 75px;
}

#radio-buttons {
    padding: 25px 0px 25px 20px;
}

#box-1>#user-menu-item>#clear {
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
    padding-top: 25px;
}